@tailwind base;
@tailwind components;
@tailwind utilities;

.inverted-border {
  background: white;
}

.inverted-border:before {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: -50px;
  height: 50px;
  width: 25px;
  left: 0;
  border-top-left-radius: 16px;
  box-shadow: 0 -25px 0 0 white;
  z-index: 0;
}

.inverted-border::after {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 0;
  height: 50px;
  width: 25px;
  right: -25px;
  border-top-left-radius: 16px;
  box-shadow: 0 -25px 0 0 white;
  z-index: 0;
}
